In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Reading files into individual dfs

file = pd.ExcelFile('C:\\Users\\sachin\\Desktop\\DataQuest\\My Projects\\Siddesh Assignment\\Analytical Interview DATASET.xlsx')
profile = pd.read_excel(file,'Customer Profile Data (DS#1)')
past_purchase = pd.read_excel(file,'Past Purchase Data (Ds#2)')
camp_coverage = pd.read_excel(file,'Campaign Coverage Data (DS#3)')
monthly_data = pd.read_excel(file,'Month Level Customer Data (DS#4')
socio_economic = pd.read_excel(file,'Socio Economic Data (DS#5)')

In [3]:
yearly_data = monthly_data.groupby(by = 'Customer_ID').sum()
#Turning monthly to yearly data to match other dfs

In [4]:
yearly_data['Net_Margin'] = yearly_data['Net_Profit']/ yearly_data['Revenue']*100

In [5]:
master = (profile.join(past_purchase,on = 'Customer_ID', how='left',lsuffix='_left')
                 .join(camp_coverage,on='Customer_ID',how='left',lsuffix='_left')
                 .join(monthly_data,on='Customer_ID',how='left',lsuffix='_left')
                 .join(socio_economic,on='Customer_ID',how='left',lsuffix='_left'))

In [6]:
master = master.drop({'Customer_ID','Customer_ID_left'}, axis=1)

In [7]:
master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5148 entries, 0 to 5147
Data columns (total 41 columns):
age                                 5148 non-null int64
job                                 5148 non-null object
marital_status                      5148 non-null object
education                           5148 non-null object
Previous_Default_Flag               4066 non-null object
House_Owned_Flag                    5148 non-null object
Loan_Availed_Flag                   5032 non-null object
Income_USD                          5148 non-null int64
Credit_rating                       5148 non-null object
Life_Stage_Code                     5148 non-null object
Ethnicity                           5148 non-null object
Employment                          5148 non-null object
Count_of_Transactions               5148 non-null int64
Loyalty_Tier                        5147 non-null object
Avg_Basket_Size                     5148 non-null float64
Reward_Points_Earned                5148 non-null int64
Mode_of_contact                     5146 non-null object
month_last_contacted_left           5146 non-null object
day_of_week_last_contacted          5146 non-null object
duration_last_contact               5146 non-null float64
num_of_contact_campaign             5146 non-null float64
days_elapsed_last_contact           5146 non-null float64
num_contact_before_campaigning      5146 non-null float64
outcome_last_campaign               5146 non-null object
buy_decision_flag                   5146 non-null object
Campaign_Start_Date                 5146 non-null object
Duration_of_last_contact_type       5146 non-null object
Num_of_contact_campaign_type        5146 non-null object
Num_contact_before_campaign_type    5146 non-null object
Target_buy                          5146 non-null float64
Month                               5146 non-null datetime64[ns]
Revenue                             5146 non-null float64
Cost                                5146 non-null float64
Net_Profit                          5146 non-null float64
Net_Margin                          5146 non-null float64
month_last_contacted                5146 non-null object
Qtrly_Emp_variation_rate            5146 non-null float64
 Monthly_consumer_price_idx         5146 non-null float64
Monthly_consumer_conf_idx           5146 non-null float64
US_FED_3mnth_rate                   5146 non-null float64
Quarterly_num_of_emp                5146 non-null float64
dtypes: datetime64[ns](1), float64(15), int64(4), object(21)
memory usage: 1.6+ MB

In [8]:
master.head()

,age,job,marital_status,education,Previous_Default_Flag,House_Owned_Flag,Loan_Availed_Flag,Income_USD,Credit_rating,Life_Stage_Code,...,Revenue,Cost,Net_Profit,Net_Margin,month_last_contacted,Qtrly_Emp_variation_rate,Monthly_consumer_price_idx,Monthly_consumer_conf_idx,US_FED_3mnth_rate,Quarterly_num_of_emp
0,85,retired,married,basic.4y,no,no,no,10307,Poor,Tradinationalist,...,1563.66,1376.0208,187.6392,0.12,may,1.1,93.994,-36.4,4.864,5191.0
1,50,blue-collar,married,basic.9y,no,no,no,33232,Fair,Baby Boomers,...,820.49,713.8263,106.6637,0.13,may,1.1,93.994,-36.4,4.864,5191.0
2,47,blue-collar,single,basic.4y,NaN,no,no,12167,Fair,Baby Boomers,...,372.33,331.3737,40.9563,0.11,may,1.1,93.994,-36.4,4.864,5191.0
3,26,technician,divorced,professional.course,no,no,yes,26459,Good,Gen Y,...,312.84,275.2992,37.5408,0.12,may,1.1,93.994,-36.4,4.864,5191.0
4,52,retired,married,university.degree,NaN,no,no,22328,Good,Baby Boomers,...,595.63,518.1981,77.4319,0.13,may,1.1,93.994,-36.4,4.864,5191.0